@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.nav-bar {
    background: #181818;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;


    //Main Logo
    .logo{
        display: inline;
        padding: 8px 0;
        
        img{
            display: block;
            flex: none;
            float: left;
            margin: 16px;
            width: 24px;
            height: auto;
            position: absolute;
        }
        .navText{
            font-size: 12px;
            display: block;
            letter-spacing: 1px;
            color: #FFFFFF;
            flex: none;
            text-decoration: none;
            font-family: 'EB Garamond', serif;
            float: left;
            margin: 24px;
            margin-left: 44px;
            width: 200px;
            height: auto;
            position: absolute;
        }
        
    }

    //Texas Tech Mainpage link
    #subLogo{
            font-size: 7px;
            letter-spacing: 1px;
            position: relative;
            font-family: 'EB Garamond', serif;
            text-decoration: none;
            color: white;
            display: inline;
            width: 24px;
            margin-left: 8px;           
        }

    .userIcon{
        font-size: 22px;
        margin: 15px;
        float: right;
    }
    .navOpt{
        font-weight: bold;
        letter-spacing: .4px;
        font-size: 8px;
        margin-top: 24px;
        margin-left: 24px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        float: right;
        color: #4d4d4e;
    }
        
    .researchButton{
        font-weight: bold;
        letter-spacing: .4px;
        font-size: 8px;
        margin-top: 24px;
        margin-left: 24px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        float: right;
        color: #4d4d4e;
    }

}